%div.row
  - @days[0..-2].each_with_index do |day|
    %a{:href => day_path(day.id)}
      %div.col-md-4{:class => "bg#{day.id}", :style => "background: ##{day.bg_colour}"}
        = day.title
        = day.description
        
%div.row
  %div.col-md-4.bg
    %div.bg-logo
      %img{:src => "/images/logo1.png", :style => "height: 60%; margin-top: 55px;"}
  - @days[-1..-1].each_with_index do |day|
    %a{:href => day_path(day.id)}
      %div.col-md-4{:class => "bg#{day.id}", :style => "background: ##{day.bg_colour};"}
        = day.title
        = day.description
  %div.col-md-4.bg