%div.row
  - @days[0..-2].each_with_index do |day|
    %div.col-md-4{:class => "bg#{day.id}", :style => "background: ##{day.bg_colour}"}
      = day.title
      = day.description
      = link_to 'Show', day

%div.row
  %div.col-md-4{:style => ""}
  - @days[-1..-1].each_with_index do |day|
    %div.col-md-4{:class => "bg#{day.id}", :style => "background: ##{day.bg_colour}"}
      = day.title
      = day.description
      = link_to 'Show', day
  %div.col-md-4