%div.row
  - @days[0..-2].each_with_index do |day|
    %a{:href => day_path(day.id)}      
      %div.col-md-4{:style => "background: ##{day.bg_colour}", :class => "bg#{day.id}"}
        %div.title
          = day.title
        = day.description
        
%div.row
  %div.col-md-4.bg
    %img{:src => "/images/logo1.png", :style => "width: 40%; margin-top: 35%;"}
  - @days[-1..-1].each_with_index do |day|
    %a{:href => day_path(day.id)}
      %div.col-md-4{:class => "bg#{day.id}", :style => "background: ##{day.bg_colour};"}
        %div.title
          = day.title
        = day.description
  %div.col-md-4.bg