%div.full-bg
  #idnotice= notice
  
  %div.main-wrap{:style => "background: ##{@day.bg_colour2}"}
    %div.title{:style => "font-size: 8rem; text-align: center;"}
      = @day.title
    %div.form
      = render "day_tasks/form"

    = link_to 'Edit', edit_day_path(@day)
    = link_to 'Back', days_path
