#idnotice= notice

%div.main-wrap{:style => "background: ##{@day.bg_colour2}"}
  %a{:href => days_path}
    %div.back-button
      %i{:class => "fa fa-arrow-circle-left fa-3x"}
  %div.sub-main-wrap 
    %div.title{:style => "font-size: 8rem; text-align: center;"}
      = @day.title
    %div.day_tasks_wrapper
      %div.row
        - @day.day_tasks.each do |task|
          - if task.finished?
            %div.col-md-3
              %div.sticky_notes
                %p#striked
                  = task.task
              %div.options
                %i{:class => "fa fa-check-circle fa-3x"}
                = link_to "Finished", finished_day_day_task_path(@day, task.id), method: :patch    
                = link_to "Delete", day_day_task_path(@day, task.id), method: :delete, data: {confirm: "Are you sure?"}
          - else
            %div.col-md-3
              %div.sticky_notes
                %p
                  = task.task
              %div.options
                = link_to "Finished", finished_day_day_task_path(@day, task.id), method: :patch   
                = link_to "Delete", day_day_task_path(@day, task.id), method: :delete, data: {confirm: "Are you sure?"}
      %div.form
        = render "day_tasks/form"