%p#idnotice= notice

%p
  %strong Title:
  = @day.title

%p
  %strongDescription:
  = @day.description

%p
  = render @day.day_tasks
%p
  %div#form
    = render "day_tasks/form"

= link_to 'Edit', edit_day_path(@day)
= link_to 'Back', days_path
