#idnotice= notice

%div.main-wrap{:style => "background: ##{@day.bg_colour2}"}
  %a{:href => days_path}
    %div.back-button
      %i{:class => "fa fa-arrow-circle-left fa-3x"}
  %div.sub-main-wrap 
    %div.title{:style => "font-size: 8rem; text-align: center;"}
      = @day.title
    %div.day_tasks_wrapper
      %div.row
        - @day.day_tasks.each do |task|
          - if task.finished?
            %div.col-md-3.stickies
              %div.sticky_notes
                %p#striked
                  = task.task
              %div.options
                = link_to finished_day_day_task_path(@day, task.id), method: :patch do
                  %i{:class => ["fa fa-check-circle-o fa-2x", "finished"]} &nbsp
                = link_to day_day_task_path(@day, task.id), method: :delete, data: {confirm: "Are you sure?"} do
                  %i{:class => ["fa fa-trash-o fa-2x", "delete"]}
          - else
            %div.col-md-3.stickies
              %div.sticky_notes
                %p
                  = task.task
              %div.options
                = link_to finished_day_day_task_path(@day, task.id), method: :patch do
                  %i{:class => ["fa fa-check-circle-o fa-2x", "finished"]} &nbsp
                = link_to day_day_task_path(@day, task.id), method: :delete, data: {confirm: "Are you sure?"} do
                  %i{:class => ["fa fa-trash-o fa-2x", "delete"]}
      %div.form
        = render "day_tasks/form"